.issues-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 500px;
  height: 500px;
  background-color: rgb(246, 246, 246);
}
